<h1>restaurants</h1>
<ul>
    <% @restaurants.each do |restaurant| %>
        <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
</ul>

<%= link_to "Add a New Restaurant", new_restaurant_path %>